# docker-compose.yml for the API service
services:
  api:
    build: ./api
    dockerfile: Dockerfile 
    image: backend-api:1.5
    container_name: node-react_api-container
    ports:
      - 4500:4500
    volumes:
      - ./api:/app/data
      - /app/node_modules
  myblog_fe:
    build:
      context: ./myblog
      dockerfile: Dockerfile
    image: myblog-frontend:1.5
    container_name: myblog_frontend
    ports:
      - 3500:3500