services:
  web:
    image: nginx:latest
    hostname: my-nginx-server  # Custom hostname for the web service -it shell
    container_name: nginx-cont-1
    ports:
      - "8084:80"
    # To mount a local directory as a volume with nginx html files
    volumes:
      - ./html:/usr/share/nginx/html:ro  # read-only mode
    networks:
      # - app-
      - frontend-network

  backend-api:
    image: node:latest
    hostname: node-backend-api  # custom hostname for the backend-api service
    container_name: node-backend-cont-api
    
    networks:
        # - app-webnetwork
        - backend-network
  
  db:
    image: postgres:17
    hostname: postgres-db  # custom hostname for the db service
    container_name: postgres-cont-1
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    networks:
      # - app-webnetwork
      - frontend-network
      - backend-network

networks:
  frontend-network:
    driver: bridge
  backend-network:
    driver: bridge