services:
  web:
    image: nginx:latest
    hostname: my-nginx-server  # Custom hostname for the web service -it shell
    container_name: nginx-cont-1
    ports:
      - "8080:80"
    volumes:
      - ./html:/usr/share/nginx/html:ro
    networks:
      - app-webnetwork
  
  db:
    image: postgres:17
    hostname: postgres-db  # custom hostname for the db service
    container_name: postgres-cont-1
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase

    networks:
      - app-webnetwork

networks:
  app-webnetwork:
    driver: bridge